#pane {
    -fx-background-image: url("../images/parkinggarage.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-attachment: fixed;
    -fx-background-position: center;
}

#datePicker {
    fx-padding-top: 150px;
}

.text-area, .text-area .viewport, .text-area .content {
    -fx-background-color: transparent ;
}

.creditsText {
    -fx-text-fill: #ffffff;
}
